<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="form">
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" />
    <mat-error
      *ngIf="
        emailControl.hasError('required') || emailControl.hasError('email')
      "
    >
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailControl.hasError('isIncorrect')"
      >User with email does not exist</mat-error
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <mat-error
      *ngIf="
        passwordControl.hasError('minlength') ||
        passwordControl.hasError('required')
      "
    >
      Please enter a valid password
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    [disabled]="registrationForm.invalid"
    color="primary"
    type="submit"
  >
    Sign Up
  </button>
</form>
