<header>
  <mat-toolbar>
    <a mat-button routerLink="/">My App</a>
    <div class="header__buttons">
      <ng-container *ngIf="user$ | async; else loginButtons">
        <button mat-raised-button (click)="logout()">Logout</button>
      </ng-container>
      <ng-template #loginButtons>
        <button mat-raised-button color="primary" routerLink="/registration">
          Sign-up
        </button>
        <button mat-stroked-button routerLink="/login">Sign-in</button>
      </ng-template>
    </div>
  </mat-toolbar>
</header>
